<div>
  <h1>Twilio Video Processors Demo</h1>
  <div id="video"></div>
  <div>
    <!-- <button (click)="removeBackground()">Remove Background</button>
    <button (click)="blurBackground()">Blur Background</button>
    <button (click)="imgBackground()">Add Img Background</button> -->
    <div (click)="manageBackground($event)" id="none" class="img-btn" style="background-image: url('../assets/none.png');"></div>
    <div (click)="manageBackground($event)" id="blur" class="img-btn" style="background-image: url('../assets/blur.png');"></div>
    <div (click)="manageBackground($event)" id="krishna" class="img-btn" style="background-image: url('../assets/backgrounds/krishna.jpg');"></div>
    <div (click)="manageBackground($event)" id="scenery" class="img-btn" style="background-image: url('../assets/backgrounds/scenery.jpg');"></div>
    <div (click)="manageBackground($event)" id="living_room" class="img-btn" style="background-image: url('../assets/backgrounds/living_room.jpg');"></div>
    <div (click)="manageBackground($event)" id="office" class="img-btn" style="background-image: url('../assets/backgrounds/office.jpg');"></div>
    <div (click)="manageBackground($event)" id="vacation" class="img-btn" style="background-image: url('../assets/backgrounds/vacation.jpg');"></div>
  </div>
</div>
